services/TestClient/.idea/
services/TestClient/TestClient/bin/Debug/netcoreapp3.1/appsettings.Development.json
services/TestClient/TestClient/bin/
services/TestClient/TestClient/obj/project.assets.json
services/TestClient/TestClient/obj/
